- name: copy mongodb repo file
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo
    remote_src: yes
  when: schema_setup == "mongo"

- name: install mongodb client
  ansible.builtin.yum:
    name: mongodb-org-shell
    state: installed
  when: schema_setup == "mongo"

- name: load schema
  ansible.builtin.shell:  mongo --host {{ lookup('aws_ssm', 'dev.catalogue.mongodb_endpoint', region='us-east-1' ) }} </app/schema/{{ component }}.js
  when: schema_setup == "mongo"