- name: load schema
  when: schema_setup == "mongo"
  block:
   - name: copy mongodb repo file
     ansible.builtin.copy:
       src: mongodb.repo
       dest: /etc/yum.repos.d/mongodb.repo
       remote_src: true

   - name: install mongodb client
     ansible.builtin.yum:
      name: mongodb-org-shell
      state: installed

   - name: load schema
     ansible.builtin.shell:  mongo --host {{ lookup('aws_ssm', 'dev.catalogue.mongo_endpoint', region='us-east-1' ) }} </app/schema/{{ component }}.js
